@model EMart.Models.User

@{
    Layout = "~/Views/Shared/_Registeration_Layout.cshtml";
}
@{
    int LoginData = int.Parse(Session["LoginId"].ToString());
}
<div class="container">
    <div class="card card-login mx-auto mt-5 bg-dark text-white" style="opacity:0.8">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Forgot your password?</h4>
                <p>Enter your email address and we will send you instructions on how to reset your password.</p>
            </div>
            @using (Html.BeginForm("ForgetPassword", "Registeration"))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.UserEmail, "Email")
                    @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control", placeholder = "Enter Email", id = "exampleInputPassword1", type = "Email" })
                    @Html.ValidationMessageFor(model => model.UserEmail)
                </div>
                <p>@TempData["Error"] </p>
                @Html.AntiForgeryToken()
                <input type="submit" id="Admin" value="Reset Password" name="Command" title="Admin" class="btn btn-primary btn-block" />
            }
            <div class="text-center">
                @if (LoginData != 1)
                {
                    <a href="@Url.Action("CustomerRegister", "Registeration", new { Id = Session["LoginId"] })"><i class='fa fa-user'></i><span class="text-white font-weight-bold">Register an Account</span></a>
                    <br />
                }
                <a href="@Url.Action("Login", "Registeration", new { Id = Session["LoginId"] })"><span class="text-white font-weight-bold">Login Page</span></a>

                @*<a class="d-block small mt-3" href="register.html">Register an Account</a>
                    <a class="d-block small" href="login.html">Login Page</a>*@
            </div>
        </div>
    </div>
</div>
